<html>
  <head>
  </head>
  <body>
    <h1>网站使用说明————本网站一切免费</h1>
    <p>本网站的最大福利：用户把营销广告资料（图片及文字）直接上传到本网站（很简单，只需三五分钟时间，并且是一次性），在网站选中某个感兴趣的贴子，
    打开这个贴子（点击查看全文）后就可以一键转发————对用户最意义重大的事就完成了，把用户的广告就绑定到了贴子上，换句话说：完成了对热门段子的广告植入，当然是用户自己的广告。用户就可以把这个段子发到朋友圈，你的朋友就可以把它转发到别的朋友圈，用户的营销广告就像插上了双翅，段子走多远，你的广告就飞多远。微信营销的最大痛苦————广告只能圈禁在有限的朋友————轻松解除。</p>
    <p>使用步骤：</p>
    <p>1.用户注册。</p>
    <p>2.注册用户方可上传个人营销资料（图和文）。</p>
    <p>3.自己有看好的段子就可以上传到本网站供自己和感兴的人使用，你也可以浏览别人上传到本网站的段子进行选用。</p>
    <p>4.通过点击“查看全文”，就可看到段子的全部图文。</p>
    <p>5.页面上有“定制转发”按钮，一键即可完成广告绑定，生成一个植入了你的广告的段子页面。</p>
    <p>6.把地址栏的地址复制下来，粘贴到微信的文字输入框中发送给随便哪一个人都可以，发送后点击，即打开你的页面，看看页面右上角，那个转发到朋友圈的按钮就出现了，接下来该干什么就不用我多嘴了。</p>

    <p>下面的内容你可以先不看，但一定要马上回来看，因为更多福利等你来拿，千万不要错过。</p>
  </body>
</html>
