<html>
<head>
  <link rel='stylesheet' type='text/css' href='/media/styles/main.css' />
</head>
<body>
  <div class='header'>
    <span class='welcome'>欢迎你{{username}}</span>
    <nav class='navigation'>
		<a href="/upload/"><input type="button" value="发帖并定制发布" action="upload"></a>
		<a href="/uploadonly/"><input type="button" value="发布新帖" action="uploadonly"></a>
		<a href="/uppublisher/"><input type="button" value="上传个人资料" action="uppublisher"></a>
		<a href="/logout_view/"><input type="button" value="登 出" action="logout_view"></a>
		<a href="/comein/">回到首页</a>
    </nav>
  </div>
</body>
</html>
