<html>
<head>
	<title>{% block title %}{{aff.subject}} {% endblock %}</title>
	<link rel='stylesheet' type='text/css' href='/media/styles/main.css' />
</head>
<body>
{% csrf_token %}
{% load static %}
{% csrf_token %}
{% for aff in ff %}
	<div>
		<h3 class='subject'>{{aff.subject}}</h3>
		<div class='content'>{{aff.content}}</content>
		<div class='counter'>阅读次数：{{aff.counter}}</div>
		<div>发布时间：{{aff.pubdate}}</div>
		<img src="{{aff.pimageA.url }}" class='image'>
	</div>
{% endfor %}
</body>
</html>
