<html>
<head>
  <link rel='stylesheet' type='text/css' href='/media/styles/main.css' />
  <script>
  function validateForm()
  {
   var username = document.forms["myForm"]["username"].value;
   var password = document.forms["myForm"]["password"].value;
   alert(username+" "+password);
  }
  </script>
</head>
新用户在此注册
<body>
  {% csrf_token %}
  <div class='form'>
    <form action="/userRegister/" method='POST' onSubmit=" return validateForm()" >
    用户名<input type='text' name='username' onkeyup="value=value.replace(/[W]/g,'')" onkeydown="if(event.keyCode==13)event.keyCode=9" style="ime-mode:disabled"   maxlength="20" />
    密  码<input type='password' name='password' onkeyup="value=value.replace(/[W]/g,'')" onkeydown="if(event.keyCode==13)event.keyCode=9" style="ime-mode:disabled"   maxlength="20" />
    密码确认<input type='password' name='password2'  onkeyup="value=value.replace(/[W]/g,'')" onkeydown="if(event.keyCode==13)event.keyCode=9"  style="ime-mode:disabled"  maxlength="20" />

    <input class='submitButton' type='submit' value='ok'/>
    </form>
  </div>
</body>
（用户名和密码只能用英文字母和数字组成，且必须以英文字母开头）
</html>
