<html>
<head>
	<link rel='stylesheet' type='text/css' href='/media/styles/main.css' />
</head>
<body>
	{% csrf_token %}
	<div class='form'>
		<form action="/lookimage/" enctype="multipart/form-data"  method="POST">

			<label class="inputLabel">
				<span>标题</span>
				<input type="text" name="subject" maxlength="100" required />
			</label>

			<label class="inputLabel">
				<span>正文</span>
				<textarea name="content" maxlength="999" required></textarea>
			</label>

			<label class="inputLabel">
				<span>类别</span>
				<select name="bbs" required>
					<option value="RDHT">热点话题</option>
					<option value="TXDS">天下大势</option>
					<option value="SHZH">生活智慧</option>
					<option value="TTXS">天天向上</option>
					<option value="YLBG">娱乐八卦</option>
					<option value="TGLJ">谈古论今</option>
					<option value="JSXX">健身休闲</option>
					<option value="JTGW">鸡汤感悟</option>
				</select>
			</label>

			<label class="inputLabel">
				<span>图片</span>
				<input type="file" name="pimageA" required/>
			</label>

			<input class="submitButton" type="submit" value="ok"/>
		</form>
	</div>
</body>
</html>
